@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family:
      "Inter",
      "Segoe UI",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0f172a;
    background-color: #e2e8f0;
  }

  body {
    @apply h-screen w-full bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  }

  #root {
    @apply h-full w-full;
  }
}
